In [9]:
import pandas as pd
import glob

In [10]:
path_serials = list(glob.glob("./*erial*.csv"))
path_parallels = list(glob.glob("./*allel*.csv"))

In [11]:
serials = [pd.read_csv(path) for path in path_serials]
parallels = [pd.read_csv(path) for path in path_parallels]

In [12]:
serial = pd.concat(serials)
parallel = pd.concat(parallels)

In [13]:
parallel_data = parallel.drop("trial", axis=1).groupby(["program", "cores", "problem_size"]).mean()

In [14]:
serial_data = serial.drop(["trial", "cores"], axis=1).groupby(["program", "problem_size"]).mean()

In [15]:
def remove_min_max(data):
    mins = list(data.groupby(["program", "problem_size"]).idxmin()["execution_time"].values)
    maxs = list(data.groupby(["program", "problem_size"]).idxmax()["execution_time"].values)
    return data.drop(mins+maxs)
serial_clean = remove_min_max(serial)
serial_clean = remove_min_max(serial_clean)
serial_clean_data = serial_clean.drop(["trial", "cores"], axis=1).groupby(["program", "problem_size"]).mean()

In [16]:
serial_data

                                      execution_time
program                 problem_size
serial                  1440               31.468143
                        1600               43.185571
                        1760               59.419714
                        1920               81.403429
                        2080              110.046667
serial_random_line      1440               30.576857
                        1600               43.226714
                        1760               59.557571
                        1920               81.819714
                        2080              107.355574
serial_square_transpose 1440               13.620571
                        1600               18.656143
                        1760               24.979000
                        1920               32.421143
                        2080               41.190164
serial_transpose        1440               13.619143
                        1600               18.700143
                        1760               25.106429
                        1920               32.492857
                        2080               41.379524

In [17]:
serial_clean_data

                                      execution_time
program                 problem_size
serial                  1440               31.725745
                        1600               43.154107
                        1760               59.392745
                        1920               82.373654
                        2080              110.153333
serial_random_line      1440               30.923023
                        1600               43.114068
                        1760               58.904615
                        1920               80.710980
                        2080              106.709583
serial_square_transpose 1440               13.514706
                        1600               18.543488
                        1760               24.681379
                        1920               32.327885
                        2080               40.988889
serial_transpose        1440               13.538298
                        1600               18.539636
                        1760               24.849107
                        1920               32.276346
                        2080               41.124444