In [1]:
import pandas as pd

In [2]:
serial = pd.read_csv("Serial_15t.csv")
parallel_1 = pd.read_csv("parallel_15t_8n.csv")
parallel_2 = pd.read_csv("parallel_15t_32n.csv")

In [3]:
parallel = pd.concat([parallel_1, parallel_2])

In [4]:
parallel_data = parallel.drop("trial", axis=1).groupby(["program", "cores", "problem_size"]).mean()

In [5]:
serial_data = serial.drop(["trial", "cores"], axis=1).groupby(["program", "problem_size"]).mean()

In [29]:
def remove_min_max(data):
    mins = list(data.groupby(["program", "problem_size"]).idxmin()["execution_time"].values)
    maxs = list(data.groupby(["program", "problem_size"]).idxmax()["execution_time"].values)
    return data.drop(mins+maxs)
serial_clean = remove_min_max(serial)
serial_clean = remove_min_max(serial_clean)
serial_clean_data = serial_clean.drop(["trial", "cores"], axis=1).groupby(["program", "problem_size"]).mean()

In [30]:
serial_data

                                      execution_time
program                 problem_size
serial                  1440               31.302000
                        1600               41.781333
                        1760               51.716000
                        1920               73.414000
                        2080              104.645333
serial_random_line      1440               29.792000
                        1600               41.817333
                        1760               53.711333
                        1920               76.528667
                        2080               97.492667
serial_square_transpose 1440               13.474667
                        1600               18.500000
                        1760               24.593333
                        1920               31.964667
                        2080               40.682667
serial_transpose        1440               13.514667
                        1600               18.525333
                        1760               24.662667
                        1920               31.988667
                        2080               40.701333

In [31]:
serial_clean_data

                                      execution_time
program                 problem_size
serial                  1440               31.581818
                        1600               43.119091
                        1760               52.179091
                        1920               74.517273
                        2080              107.833636
serial_random_line      1440               30.783636
                        1600               43.165455
                        1760               54.772727
                        1920               78.769091
                        2080               98.194545
serial_square_transpose 1440               13.466364
                        1600               18.492727
                        1760               24.586364
                        1920               31.960909
                        2080               40.667273
serial_transpose        1440               13.512727
                        1600               18.517273
                        1760               24.659091
                        1920               31.984545
                        2080               40.688182